{% extends 'base.html.twig' %}

{% block title %}
    EURO 2016
{% endblock %}

{% block body %}
    <h1>EURO 2016</h1>
    <table>
        <tr>
        <th>#</th>
        <th>Country</th>
        <th>Group</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="{{ path("euro_show_team", {'team': 1}) }}">Ukraine</a></td>
            <td>A</td>
        </tr>
    </table>

{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #85ffbd;
            font: 18px/1.5 sans-serif;
        }
        table, th,tr,td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
{% endblock %}

