{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            <h2>
                Was found {{ count }} record(s)
            </h2>
            <h3>
                {% if err is not null %}
                    {{ err }}
                {% endif %}
            </h3>
            {% for elem in data %}
                <ul>
                    <li>
                        <a href="{{ path('team_show', {'id': elem.id}) }}">{{ elem.country }}</a>
                    </li>
                </ul>

            {% endfor %}


        </div>
    </div> <!-- /container -->


{% endblock %}

