{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <div class="jumbotron">

            <p>
                Player:  {{ players.firstName }} {{ players.lastName }}
            </p>
            <p>
                Birth Day: {{ players.birthDay|date('d-m-Y') }}
            </p>
            <p>
                {{ players.biography }}
            </p>
        </div>
    </div> <!-- /container -->

{% endblock %}

